{% extends "base.html" %}

{% block content %}        
{% if prev %}
        <p class="nav">
          <a class="button round small" href="{{ url_for('address_detail', year=year, oid=prev.id) }}"><i class="fa fa-arrow-circle-left"></i>{{ prev.name }}</a>{% endif %}{% if next %}{% if prev %}&nbsp;{% endif %}<a class="button round small" href="{{ url_for('address_detail', year=year, oid=next.id) }}"><i class="fa fa-arrow-circle-right"></i>{{ next.name }}</a>
        </p>
{%- endif %}        
        <h3>{{ _('basic information') }}</h3>
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('name') }}</label>
          </div>
          <div class="large-10 columns">
            {{ obj.name }}({{ obj.yomi }})&nbsp;{{ obj.title }}
            {% if obj.firstname2 %}<div>{{ obj.firstname2 }}{{ obj.title2 }}</div>{% endif %}
            {% if obj.firstname3 %}<div>{{ obj.firstname3 }}{{ obj.title3 }}</div>{% endif %}
            {% if obj.firstname4 %}<div>{{ obj.firstname4 }}{{ obj.title4 }}</div>{% endif %}
            {% if obj.firstname5 %}<div>{{ obj.firstname5 }}{{ obj.title5 }}</div>{% endif %}
          </div>
        </div>
        
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('address') }}</label>
          </div>
          <div class="large-10 columns">
            &#12306;{{ obj.zipcode }}&nbsp;{{ obj.prefecture }}{{ obj.address1 }}{{ obj.address2 }}
          </div>
        </div>
{% if obj.tet %}          
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('telephone') }}</label>
          </div>
          <div class="large-10 columns">
            {{ obj.tel }}
          </div>          
        </div>
{% endif %}
{% if obj.fax %}        
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('facsimile') }}</label>
          </div>
          <div class="large-10 columns">
            {{ obj.fax }}
          </div>
        </div>
{% endif %}
{% if obj.mail %}        
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('mail') }}</label>
          </div>
          <div class="large-10 columns">
            {{ obj.mail }}
          </div>
        </div>
{% endif %}
{% if obj.mobile %}        
        <div class="row">
          <div class="large-2 columns">
            <label>{{ _('mobile') }}</label>
          </div>
          <div class="large-10 columns">
            {% if obj.mobile %}{{ obj.mobile }}{% endif %}
          </div>
        </div>
{% endif %}
        <div class="row">
          <div class="large-12 columns">
            <p class="nav">
              <a class="button success small round" href="{{ url_for('address_edit', oid=obj.id) }}">{{ _('edit') }}</a>
            </p>
          </div>
        </div>
        
        <h3>{{ _('additional information') }}</h3>
        <form id="nanga" method="POST">
          <div class="row">
            <div class="large-12 columns">
                {{ form.send }} {{ form.send.label }}
                {{ form.receive }} {{ form.receive.label }}
                {{ form.mourning }} {{ form.mourning.label }}
                {{ form.address_unknown }} {{ form.address_unknown.label }}
            </div>
            <div class="large-12 columns">
                {{ form.note.label }}
                {{ form.note }}
            </div>
            <div class="large-12 columns">
              <button class="round small alert" type="submit">{% block submit_button_value %}{{ _('submit') }}{% endblock %}</button>
            </div>
          </div>
        </form>

        <h3>{{ _('history') }}</h3>
        <table>
          <thead>
            <tr>
              <td>{{ _('year') }}</td>
              <td>{{ _('send') }}</td>
              <td>{{ _('receive') }}</td>
              <td>{{ _('mourning') }}</td>
              <td>{{ _('address unknown') }}</td>
              <td>{{ _('note') }}</td>
            </tr>
          </thead>
          <tbody>
{% for object in history %}
            <tr>
              <td>{% if object.year != year %}<a href="{{ url_for('.address_detail', year=object.year, oid=obj.id) }}">{{ object.year }}</a>{% else %}{{ object.year }}{% endif %}</td>
              <td><i class="fa fa-{% if object.send %}check-square{% else %}square-o{% endif %}"></i></td>
              <td><i class="fa fa-{% if object.receive %}check-square{% else %}square-o{% endif %}"></i></td>
              <td><i class="fa fa-{% if object.mourning %}check-square{% else %}square-o{% endif %}"></i></td>
              <td><i class="fa fa-{% if object.address_unknown %}check-square{% else %}square-o{% endif %}"></i></td>
              <td>{% if object.note %}{{ object.note }}{% endif %}</td>
            </tr>
{% endfor %}           
          </tbody>
        </table>
{% endblock %}