{% extends "base.html" %}

{% block content %}
        <form id="data" method="POST">
          <div class="row">
            <div class="small-12 large-8">
            {% for field in form %}
              <div class="row">
                {% if field.type=='BooleanField' %}
                <div class="small-3 columns">
                </div>
                <div class="small-9 columns">
                  {{ field }}
                  {{ field.label }}
                </div>
                {% else %}                
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">{{ field.label }}</label>
                </div>
                <div class="small-9 columns">
                  {{ field }}
                </div>
              {% endif %}
              </div>
            {% endfor %}
              <div class="small-3 columns">
              </div>
              <div class="small-9 columns">
                <button class="round small alert" type="submit" onclick='return confirm("{{ _('Are you sure ?') }}");'>{% block submit_button_value %}{{ _('submit') }}{% endblock %}</button>
              </div>
            </div>
          </div>
        </form>
{% endblock %}