{% extends "base.html" %}

{% block content %}
        <h3>{{ _('additional information') }}</h3>
        <form id="nanga" method="POST">
          <div class="row">
            <div class="large-12 columns">
                {{ form.send }}
                {{ form.send.label }}
            </div>
            <div class="large-12 columns">
                {{ form.receive }}
                {{ form.receive.label }}
            </div>
            <div class="large-12 columns">
                {{ form.note.label }}
                {{ form.note }}
            </div>
            <div class="large-12 columns">
              <input type="submit" value="{% block submit_button_value %}{{ _('submit') }}{% endblock %}" onclick='return confirm("{{ _('Are you sure ?') }}")';/>
            </div>
          </div>
        </form>

        <h3>{{ _('basic information') }}</h3>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('name') }}</label>
          </div>
          <div class="large-11 columns">
            {{ obj.name }}({{ obj.yomi }})&nbsp;{{ obj.title }}
            {% if obj.firstname2 %}<div>{{ obj.firstname2 }}{{ obj.title2 }}</div>{% endif %}
            {% if obj.firstname3 %}<div>{{ obj.firstname3 }}{{ obj.title3 }}</div>{% endif %}
            {% if obj.firstname4 %}<div>{{ obj.firstname4 }}{{ obj.title4 }}</div>{% endif %}
            {% if obj.firstname5 %}<div>{{ obj.firstname5 }}{{ obj.title5 }}</div>{% endif %}
          </div>
        </div>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('address') }}</label>
          </div>
          <div class="large-11 columns">
            &#12306;{{ obj.zipcode }}&nbsp;{{ obj.prefecture }}{{ obj.address1 }}{{ obj.address2 }}
          </div>
        </div>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('telephone') }}</label>
          </div>
          <div class="large-11 columns">
            {{ obj.tel }}
          </div>
        </div>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('facsimile') }}</label>
          </div>
          <div class="large-11 columns">
            {{ obj.fax }}
          </div>
        </div>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('mail') }}</label>
          </div>
          <div class="large-11 columns">
            {{ obj.mail }}
          </div>
        </div>
        <div class="row">
          <div class="large-1 columns">
            <label>{{ _('mobile') }}</label>
          </div>
          <div class="large-11 columns">
            {% if obj.mobile %}{{ obj.mobile }}{% endif %}
          </div>
        </div>

        <p>
          <a href="{{ url_for('address_edit', oid=obj.id) }}">{{ _('edit') }}</a>
        </p>

        <p><div class="row">
          <a href="{{ url_for('index') }}">{{ _('top') }}</a>|<a href="{{ url_for('address_list', year=year) }}">{{ _('back to list') }}</a>
        </p>
        
{% if prev %}
        <p>
          <a href="{{ url_for('address_detail', year=year, oid=prev.id) }}">{{ prev.name }}</a>{% endif %}{% if next %}{% if prev %}&nbsp;|&nbsp;{% endif %}<a href="{{ url_for('address_detail', year=year, oid=next.id) }}">{{ next.name }}</a>
        </p>
{%- endif %}
        
{% endblock %}