<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="ja" > <![endif]-->
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
{% block extra_head %}{% endblock %}
  </head>

  <body>

    <header class="row">
      <div class="large-12 columns">
        <h1>{{ title }}</h1>
      </div>
    </header>

    <main class="row">
      <div class="large-12 columns">      
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
        <ul class="flashes">
{% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
{% endfor %}
        </ul>
{% endif %}
{% endwith %}
      </div>
      <div class="large-12 columns">
{% block content %}{% endblock %}
      </div>
    </main>
    
    <footer>
      <p><small></small></p>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>    
{% block extra_script %}{% endblock %}
  </body>
</html>
